/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tfoot, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'GT America';
  src: url("../assets/fonts/GT-America-Standard-Regular.eot");
  src: url("../assets/fonts/GT-America-Standard-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/GT-America-Standard-Regular.woff2") format("woff2"), url("../assets/fonts/GT-America-Standard-Regular.woff") format("woff"), url("../assets/fonts/GT-America-Standard-Regular.ttf") format("truetype");
  font-weight: normal;
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'GT America';
  src: url("../assets/fonts/GT-America-Standard-Medium.eot");
  src: url("../assets/fonts/GT-America-Standard-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/GT-America-Standard-Medium.woff2") format("woff2"), url("../assets/fonts/GT-America-Standard-Medium.woff") format("woff"), url("../assets/fonts/GT-America-Standard-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'GT America';
  src: url("../assets/fonts/GT-America-Standard-Bold.eot");
  src: url("../assets/fonts/GT-America-Standard-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/GT-America-Standard-Bold.woff2") format("woff2"), url("../assets/fonts/GT-America-Standard-Bold.woff") format("woff"), url("../assets/fonts/GT-America-Standard-Bold.ttf") format("truetype");
  font-weight: bold;
  font-weight: 700;
  font-style: normal; }

::-webkit-input-placeholder {
  color: #7392B0; }

::-moz-placeholder {
  color: #7392B0; }

:-ms-input-placeholder {
  color: #7392B0; }

:-moz-placeholder {
  color: #7392B0; }

.form-field {
  width: 100%; }
  .form-field__city {
    width: calc(45% - 1.5rem); }
  .form-field__state {
    width: 25%; }
  .form-field__zip {
    width: calc(30% - 1.5rem); }
  .form-field + .form-field {
    margin-top: 4rem; }
  .form-field > label {
    display: block;
    margin-bottom: 2rem;
    font-weight: 600; }
  .form-field + .button__primary {
    margin-top: 5rem; }
  .form-field__checkbox label {
    display: flex;
    justify-content: flex-start;
    flex-shrink: 1;
    font-weight: normal; }
  .form-field__checkbox .checkbox-label {
    margin-top: 0.5em; }
  .form-field__checkbox input {
    flex-shrink: 0; }

.focus-tip {
  position: absolute;
  background-color: #00E5E6;
  padding: 1rem;
  margin-top: 0.2rem;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 600;
  opacity: 0;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  transform: translateY(0);
  transition: all 0.15s ease; }

input[type="text"],
input[type="number"],
select {
  height: 7.5rem;
  width: 100%;
  border: 0;
  border-radius: 0.3rem;
  font-size: 2.1rem;
  padding: 0 3rem;
  background-color: #ffffff;
  transition: box-shadow 0.15s ease; }
  input[type="text"]:focus,
  input[type="number"]:focus,
  select:focus {
    outline: none;
    box-shadow: 0 0 0 0.4rem #E6FAFA, 0 0 0 0.7rem #00E5E6; }
  input[type="text"]:focus + .focus-tip,
  input[type="number"]:focus + .focus-tip,
  select:focus + .focus-tip {
    transform: translateY(0.3rem);
    opacity: 1; }

input[type="checkbox"] {
  -webkit-appearance: none;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
  transition: box-shadow 0.15s ease;
  text-align: center;
  vertical-align: middle;
  margin-right: 1.5rem; }
  input[type="checkbox"]:checked {
    background-color: #0D00FF; }
    input[type="checkbox"]:checked:before {
      content: url("../assets/images/check.svg");
      line-height: 4rem;
      text-align: center;
      display: inline-block; }
  input[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 0 0.4rem #E6FAFA, 0 0 0 0.7rem #00E5E6; }

input[type="text"].field_invalid,
input[type="number"].field_invalid,
input[type="checkbox"].field_invalid,
select.field_invalid {
  box-shadow: 0 0 0 0.4rem #E6FAFA, 0 0 0 0.7rem #FD337D; }

input[type="text"].field_invalid:focus,
input[type="number"].field_invalid:focus,
input[type="checkbox"].field_invalid:focus,
select.field_invalid:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem #E6FAFA, 0 0 0 0.7rem #00E5E6; }

input[type="radio"].field_invalid + label {
  box-shadow: 0 0 0 0.4rem #E6FAFA, 0 0 0 0.7rem #FD337D; }

input[type="radio"].field_invalid:focus + label {
  outline: none;
  box-shadow: 0 0 0 0.4rem #E6FAFA, 0 0 0 0.7rem #00E5E6; }

.select-container {
  position: relative; }
  .select-container::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    right: 3rem;
    top: 2.8rem;
    width: 1.3rem;
    height: 1.3rem;
    border-right: 0.2rem solid #7392B0;
    border-bottom: 0.2rem solid #7392B0;
    border-top-right-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    transform: rotate(45deg);
    pointer-events: none; }
  .select-container select {
    -webkit-appearance: none;
    appearance: none; }
    .select-container select:invalid {
      color: #7392B0; }
    .select-container select option:not(:first-of-type) {
      color: #0A1031; }

.address-fields-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .address-fields-container .form-field {
    margin-top: 0; }
  .address-fields-container .form-field:first-child {
    margin-bottom: 1.5rem; }

.date-field-wrapper {
  display: flex; }
  .date-field-wrapper .form-field {
    margin-top: 0; }
  .date-field-wrapper .form-field:nth-child(1),
  .date-field-wrapper .form-field:nth-child(2) {
    width: 50%; }
  .date-field-wrapper .form-field + .form-field {
    margin-left: 1.5rem; }

input[type="radio"] {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 3rem;
  width: 3rem;
  height: 3rem;
  -webkit-appearance: none;
  border-radius: 50%;
  border: 2px solid #E2EAF0;
  margin-top: -1.5rem;
  z-index: 99;
  opacity: 0;
  transition: box-shadow 0.15s ease; }
  input[type="radio"]:checked {
    border: 0.3rem solid #0D00FF;
    box-shadow: inset 0 0 0 0.3rem #E6FAFA, inset 0 0 0 1.3rem #0D00FF; }
    input[type="radio"]:checked + label {
      box-shadow: inset 0 0 0 0.3rem #0D00FF; }
    input[type="radio"]:checked:focus + label {
      box-shadow: inset 0 0 0 0.3rem #0D00FF, 0 0 0 0.4rem #E6FAFA, 0 0 0 0.7rem #00E5E6; }
  input[type="radio"]:focus {
    outline: none; }
    input[type="radio"]:focus + label {
      box-shadow: 0 0 0 0.4rem #E6FAFA, 0 0 0 0.7rem #00E5E6; }

.radio-group {
  font-size: 1.6rem; }
  .radio-group .radio-button {
    position: relative;
    display: flex; }
    .radio-group .radio-button + .radio-button {
      margin-top: 1.5rem; }
    .radio-group .radio-button label {
      position: relative;
      display: inline-table;
      padding: 2.5rem 5rem;
      margin-bottom: 0;
      width: inherit;
      overflow: hidden;
      font-weight: normal;
      font-size: 2.1rem;
      border-radius: 0.3rem;
      background-color: #ffffff;
      transition: box-shadow 0.15s ease; }
    .radio-group .radio-button label .coverage-option-price {
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
      color: #7392B0;
      margin-left: -1rem;
      justify-content: flex-start; }
    .radio-group .radio-button label .coverage-option-dollars {
      font-size: 3.6rem;
      font-weight: bold;
      color: #0A1031; }
      .radio-group .radio-button label .coverage-option-dollars:before {
        content: "$";
        font-size: 2rem;
        font-weight: 500; }

.radio-group__split .radio-group {
  display: flex;
  align-items: top; }

.radio-group__split .radio-button + .radio-button {
  margin-left: 1.5rem;
  margin-top: 0; }

.auto-suggest-results {
  background-color: #ffffff;
  border-radius: 0.5rem;
  margin-top: 1.5rem; }
  .auto-suggest-results li {
    padding: 2rem 3rem;
    list-style: none; }
    .auto-suggest-results li:hover {
      background-color: #0D00FF;
      color: #ffffff; }
      .auto-suggest-results li:hover em {
        background-color: inherit; }
    .auto-suggest-results li em {
      background-color: #E6FAFA; }

.button {
  display: inline-block;
  margin-right: auto;
  padding: 3rem 5rem;
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  border-radius: 0.3rem;
  cursor: pointer;
  text-decoration: none;
  transition: box-shadow 0.15s ease; }
  .button__confirm {
    background-color: #00E5E6;
    color: #ffffff; }
  .button__primary {
    background-color: #0D00FF;
    color: #ffffff; }
  .button__secondary {
    box-shadow: inset 0 0 0 0.3rem #00E5E6;
    background-color: transparent;
    color: #0A1031; }
  .button__secondary-alt {
    box-shadow: inset 0 0 0 0.3rem #0D00FF;
    background-color: transparent;
    color: #0D00FF; }
  .button__tertiary {
    background-color: transparent;
    color: #0D00FF;
    text-align: left;
    margin-top: 1.5rem;
    padding: 2rem 5rem;
    font-weight: 500; }
  .button__small {
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    margin-top: 3rem; }
  .button:focus {
    outline: none;
    box-shadow: 0 0 0 0.4rem #E6FAFA, 0 0 0 0.7rem #00E5E6; }

h1, h2, h3, h4, p {
  line-height: 1.5; }

h1 {
  display: inline-block;
  margin-top: 3rem;
  font-size: 3.4rem;
  margin-bottom: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: inherit; }

h2 {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 3.6rem;
  font-weight: 700;
  color: #0A1031; }
  h2 a {
    color: inherit;
    text-decoration: none; }
  h2 a:hover {
    text-decoration: underline; }

h3 {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: inherit; }

h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700; }

h5 {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #0D00FF;
  font-weight: 600;
  margin-bottom: 5rem; }

p.small-text {
  font-size: 1.6rem;
  color: #6980A5; }

p.tiny-text {
  display: block;
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #6980A5; }

strong {
  font-weight: 700; }

* {
  box-sizing: border-box; }

._hidden {
  display: none; }

body,
html {
  margin: 0;
  font-size: 10px; }
  @media (max-width: 768px) {
    body,
    html {
      font-size: 8px; } }
  @media (min-width: 1820px) {
    body,
    html {
      font-size: 12px; } }

body {
  height: 100%;
  font-family: "GT America", -apple-system, BlinkMacSystemFont, Helvetica, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 1.8rem;
  line-height: 140%;
  background-color: #E6FAFA;
  color: #0A1031;
  overflow-x: hidden; }

.wrapper.wrapper__price-options {
  height: 100%; }
  .wrapper.wrapper__price-options .sidebar,
  .wrapper.wrapper__price-options .right-rail {
    display: none; }
  .wrapper.wrapper__price-options .main-container {
    flex-direction: column;
    max-width: 128rem;
    padding: 5rem 0;
    margin: 0 auto; }
  .wrapper.wrapper__price-options .step-container {
    width: 100%; }
  .wrapper.wrapper__price-options .breadcrumb-container {
    display: none; }

.wrapper.wrapper__last-step {
  height: 100%; }
  .wrapper.wrapper__last-step .sidebar {
    display: none; }
  .wrapper.wrapper__last-step .main-container {
    max-width: 117rem;
    padding: 5rem 0;
    margin: 0 auto; }
  .wrapper.wrapper__last-step .step-container {
    width: 100%; }
  .wrapper.wrapper__last-step .breadcrumb-container {
    display: none; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 27rem;
  padding: 3rem;
  height: 100%;
  background-color: #ffffff; }
  @media (max-width: 768px) {
    .sidebar {
      display: none; } }

.logo {
  width: 12rem;
  height: 2rem;
  background-color: #E6FAFA; }
  .logo:after {
    position: absolute;
    background-color: #0D00FF;
    content: "";
    height: 2rem;
    width: 2rem;
    box-shadow: 2rem 0 0 #ffffff; }

.unlink {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  padding: 3rem;
  font-size: 1.6rem;
  color: #6980A5; }

.breadcrumb,
.back-button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #ffffff;
  color: #0D00FF;
  font-weight: 600; }

.navigation {
  margin-top: 5rem; }

.nav-item {
  display: flex;
  line-height: 4rem;
  color: #6980A5;
  align-items: center;
  font-size: 1.8rem; }
  .nav-item + .nav-item {
    margin-top: 2rem; }
  .nav-item__active {
    color: #0D00FF; }
    .nav-item__active .nav-circle {
      border: 0.3rem solid #0D00FF;
      background-color: #ffffff; }
    .nav-item__active svg {
      top: -0.3rem;
      left: -0.3rem; }
  .nav-item__complete .nav-circle {
    position: relative;
    background-color: #0D00FF;
    transition: background-color 0.3s ease, box-shadow 0.5s ease;
    box-shadow: 0 0 0 1.2rem #ffffff, 0 0 0 1.5rem transparent; }
    .nav-item__complete .nav-circle:before {
      content: url("../assets/images/check.svg");
      width: 2rem;
      text-align: center;
      width: 100%;
      display: inline-block; }
    .nav-item__complete .nav-circle svg {
      display: none; }

.nav-circle {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #E6FAFA;
  margin-right: 1.5rem;
  transition: background-color 0.3s ease;
  box-shadow: inset 0 0 0 2rem #ffffff, 0 0 0 0 #0D00FF; }
  .nav-circle svg {
    position: absolute;
    transform: rotateZ(-85deg); }
  .nav-circle circle {
    transition: all 0.15s ease;
    outline-offset: -0.3rem; }
  .nav-circle:after {
    transition: all 0.3s ease; }

.main-container {
  display: flex;
  margin-left: 27rem;
  padding: 5rem 7rem; }
  @media (max-width: 768px) {
    .main-container {
      margin-left: 0;
      width: 100%;
      flex-direction: column;
      padding: 3rem; } }
  .main-container.main-container__full-width {
    flex-direction: column; }
    .main-container.main-container__full-width .step-container {
      width: 100%; }
    .main-container.main-container__full-width .right-rail {
      max-width: none;
      padding-left: 0;
      margin-top: 5rem; }
    .main-container.main-container__full-width .help-card {
      display: flex;
      padding: 0;
      align-items: flex-start;
      justify-content: center; }
    .main-container.main-container__full-width .help-card img {
      margin-right: 3rem; }
    .main-container.main-container__full-width .help-card .button {
      margin-left: 5rem;
      margin-right: 0;
      margin-top: 0; }
  .main-container.main-container__complete {
    margin: 0 auto;
    max-width: 128rem; }
    .main-container.main-container__complete ~ .sidebar {
      opacity: 0; }
    .main-container.main-container__complete .breadcrumb-container {
      display: none; }

.step-container {
  width: 66rem; }
  @media (max-width: 768px) {
    .step-container {
      width: auto; } }

.question-heading {
  margin-top: 2rem; }

.explainer {
  position: relative;
  color: #6980A5;
  padding-left: 2.5rem; }
  .explainer:before {
    position: absolute;
    left: 0;
    top: 0.7rem;
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    border-top: 0.75rem solid transparent;
    border-left: 1rem solid #0D00FF;
    border-bottom: 0.75rem solid transparent; }

.form-container {
  margin-top: 5rem; }

.right-rail {
  position: relative;
  width: 100%;
  max-width: 40rem;
  padding-left: 5rem; }
  @media (max-width: 768px) {
    .right-rail {
      max-width: none;
      padding: 0;
      margin-top: 5rem; }
      .right-rail .help-card {
        padding: 0; } }
  .right-rail code {
    display: block;
    font-family: 'Menlo';
    white-space: pre;
    font-size: 1.2rem;
    margin-left: 3rem;
    color: #6980A5; }

.load-in {
  transform: translate3d(0, 1em, 0);
  opacity: 0;
  animation: loadin 0.25s cubic-bezier(0.74, 0.24, 0.21, 0.77);
  animation-fill-mode: forwards; }

@keyframes loadin {
  0% {
    transform: translate3d(0, 1em, 0);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translate3d(0, 0rem, 0); } }

.load-up {
  transform: translate3d(0, -1em, 0);
  opacity: 0;
  animation: loadup 0.25s cubic-bezier(0.74, 0.24, 0.21, 0.77);
  animation-fill-mode: forwards;
  margin-top: -3rem; }

@keyframes loadup {
  0% {
    margin-top: -3rem;
    transform: translate3d(0, -1em, 0);
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    margin-top: 4rem;
    opacity: 1;
    transform: translate3d(0, 0rem, 0); } }

.help-card {
  padding: 0 0 3rem 3rem;
  width: 100%;
  border-radius: 0.3rem; }
  .help-card img {
    display: block;
    margin-bottom: 3rem; }

.pricing-page-top {
  display: flex; }

.pricing-page-details {
  width: 30%;
  padding-right: 5rem; }

.pricing-page-options {
  width: 70%;
  margin-top: 0rem; }

.coverage-container {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem; }
  @media (max-width: 768px) {
    .coverage-container {
      flex-direction: column; } }

.coverage-types {
  background-color: #ffffff;
  margin-top: 20rem; }

.coverage-table {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0rem 50rem 0 50rem #ffffff; }
  .coverage-table table {
    width: 100%; }
  .coverage-table tr {
    border-bottom: 1px solid #E2EAF0; }
  .coverage-table tr:first-child td {
    border-top: 0; }
  .coverage-table td {
    height: 6rem;
    border-top: 1px solid #E2EAF0; }
  .coverage-table td span img {
    vertical-align: middle;
    margin-top: -4px;
    margin-left: 5px; }
  .coverage-table td:first-child {
    width: 30%; }
  .coverage-table td:not(:first-child) {
    width: calc(70%/3);
    padding: 0 3rem;
    text-align: center;
    border-left: 1px solid #E2EAF0; }
  .coverage-table:before {
    content: "";
    position: absolute;
    width: 100%;
    left: -100%;
    background-color: #ffffff;
    z-index: -1; }

.coverage-label {
  font-size: 1.2rem;
  letter-spacing: 0.17rem;
  color: #6980A5;
  text-transform: uppercase;
  font-weight: 600; }

.coverage-cell {
  height: 6rem;
  line-height: 6rem; }

.coverage-group {
  padding: 5rem;
  background-color: #ffffff;
  margin-bottom: 3rem; }

.coverage {
  display: flex;
  justify-content: space-between; }
  .coverage:not(:last-child) {
    padding-bottom: 3rem; }
  .coverage + .coverage {
    padding-top: 5rem;
    border-top: 1px solid #E6FAFA; }

.coverage-info p {
  color: #6980A5;
  max-width: 60rem; }

.coverage-title {
  display: flex;
  align-items: center;
  margin-bottom: 2rem; }
  .coverage-title h3 {
    margin-left: 2rem;
    margin-bottom: 0; }

.coverage-limit {
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 0.6rem; }

.coverage-option {
  position: relative;
  width: calc(33.3%);
  padding: 5rem 3rem;
  text-align: center; }
  .coverage-option .button__tertiary {
    text-align: center; }
  @media (max-width: 768px) {
    .coverage-option {
      width: 100%; } }

.coverage-option-flag {
  position: absolute;
  top: -1.6rem;
  left: 50%;
  display: inline-table;
  color: #ffffff;
  background-color: #00E5E6;
  padding: 0.2rem 1.2rem;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  transform: translateX(-50%); }

.coverage-option-description {
  font-size: 1.6rem;
  margin-top: 3rem; }

.coverage-option-name {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #0D00FF; }

.coverage-option-price {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  justify-content: center;
  align-items: flex-end; }

.price-annual {
  font-size: 1.6rem;
  color: #6980A5; }

.coverage-option-dollars {
  font-size: 5rem;
  font-weight: bold; }
  .coverage-option-dollars:before {
    content: "$";
    font-size: 2.6rem;
    font-weight: 500; }

.coverage-option-limits {
  margin-top: 5rem; }

.coverage-option-specific + .coverage-option-specific {
  margin-top: 3rem; }

.coverage-option-label {
  font-size: 1.6rem;
  color: #6980A5;
  margin-bottom: 1rem; }

.next-step {
  display: flex;
  padding: 3rem 0;
  font-size: 2rem;
  line-height: 1.5;
  border-radius: 0.3rem; }
  .next-step + .next-step {
    margin-top: 1.5rem; }
  .next-step .next-step-icon {
    margin-right: 3rem; }

.policy-pdf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-top: 3rem;
  border: 0.3rem solid #E6FAFA;
  background-color: #ffffff;
  border-radius: 0.5rem;
  transition: border 0.15s ease;
  cursor: pointer; }
  .policy-pdf:hover {
    border: 0.3rem solid #00E5E6; }
  .policy-pdf img {
    width: 2.2rem; }

.tag {
  color: #ffffff;
  background-color: #0D00FF;
  margin-left: 1rem;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 800;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  vertical-align: text-bottom; }

canvas {
  transform: translate3d(0, 1em, 0);
  opacity: 0;
  animation: loadin 0.25s cubic-bezier(0.74, 0.24, 0.21, 0.77);
  animation-fill-mode: forwards;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -2;
  animation-delay: 1s;
  overflow: hidden; }

@keyframes loadin {
  0% {
    transform: translate3d(0, 1em, 0);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translate3d(0, 0rem, 0); } }

.canvas__game {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto 0;
  width: 75%;
  height: 75%;
  background-color: #ffffff; }

.tool-tip {
  position: relative;
  padding: 0;
  white-space: normal;
  cursor: help; }
  .tool-tip::before {
    content: attr(data-tooltip);
    top: -2rem;
    margin-left: 1.5rem;
    max-width: 33rem;
    width: 33rem;
    width: max-content;
    padding: 2rem;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.5em;
    border-radius: 0.4rem;
    color: #E2EAF0;
    background-color: #0A1031;
    transform: translate3d(1.5rem, calc(-50% + 0.5px), 0); }
  .tool-tip::after {
    content: '';
    width: 0;
    height: 0;
    transform: translate3d(1.5rem, calc(-50% + 0.5px), 0);
    top: 0rem;
    margin-left: 0.7rem;
    border-bottom: 1rem solid transparent;
    border-top: 1rem solid transparent;
    border-right: 0.8rem solid #0A1031; }
  .tool-tip:hover::before, .tool-tip:hover::after {
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.25s ease 0.25s, transform 0.25s ease 0.25s;
    transform: translate3d(0, 0, 0); }
  .tool-tip::before, .tool-tip::after {
    position: absolute;
    left: 100%;
    z-index: 999;
    transform: translate3d(0.5rem, 0, 0);
    transition: opacity 0.25s ease, transform 0.25s ease;
    opacity: 0;
    pointer-events: none;
    -webkit-font-smoothing: subpixel-antialiased; }

.full-screen-loader {
  transform: translate3d(0, 1em, 0);
  opacity: 0;
  animation: loadin 0.25s cubic-bezier(0.74, 0.24, 0.21, 0.77);
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E6FAFA;
  text-align: center;
  font-size: 2.6rem; }

@keyframes loadin {
  0% {
    transform: translate3d(0, 1em, 0);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translate3d(0, 0rem, 0); } }
  .full-screen-loader:not(._hidden) + canvas {
    z-index: 2; }
  .full-screen-loader._hidden {
    display: none; }

.loading-message {
  background-color: #ffffff;
  padding: 5rem; }

.progress-bar {
  position: relative;
  width: 100%;
  height: 1rem;
  background-color: white;
  margin-top: 30px;
  border-radius: 5px;
  overflow: hidden; }
  .progress-bar:after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    height: inherit;
    border-radius: 5px;
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent 0), #0D00FF;
    background-size: 5rem 5rem;
    animation: bgcycle 1s linear infinite, progressBar 10s ease; }

@keyframes bgcycle {
  0% {
    background-position: 0rem 0; }
  100% {
    background-position: -5rem 0; } }

@keyframes progressBar {
  0% {
    transform: translateX(-100%); }
  10% {
    transform: translateX(-95%); }
  20% {
    transform: translateX(-91%); }
  30% {
    transform: translateX(-76%); }
  50% {
    transform: translateX(-71%); }
  70% {
    transform: translateX(-48%); }
  90% {
    transform: translateX(-32%); }
  100% {
    transform: translateX(-10%); } }

#adminz-only {
  display: none; }
