/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tfoot, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'GT America';
  src: url("../assets/fonts/GT-America-Standard-Regular.eot");
  src: url("../assets/fonts/GT-America-Standard-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/GT-America-Standard-Regular.woff2") format("woff2"), url("../assets/fonts/GT-America-Standard-Regular.woff") format("woff"), url("../assets/fonts/GT-America-Standard-Regular.ttf") format("truetype");
  font-weight: normal;
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'GT America';
  src: url("../assets/fonts/GT-America-Standard-Medium.eot");
  src: url("../assets/fonts/GT-America-Standard-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/GT-America-Standard-Medium.woff2") format("woff2"), url("../assets/fonts/GT-America-Standard-Medium.woff") format("woff"), url("../assets/fonts/GT-America-Standard-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'GT America';
  src: url("../assets/fonts/GT-America-Standard-Bold.eot");
  src: url("../assets/fonts/GT-America-Standard-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/GT-America-Standard-Bold.woff2") format("woff2"), url("../assets/fonts/GT-America-Standard-Bold.woff") format("woff"), url("../assets/fonts/GT-America-Standard-Bold.ttf") format("truetype");
  font-weight: bold;
  font-weight: 700;
  font-style: normal; }

::-webkit-input-placeholder {
  color: #7392B0; }

::-moz-placeholder {
  color: #7392B0; }

:-ms-input-placeholder {
  color: #7392B0; }

:-moz-placeholder {
  color: #7392B0; }

.form-field {
  width: 100%; }
  .form-field__city {
    width: calc(45% - 1.5rem); }
  .form-field__state {
    width: 25%; }
  .form-field__zip {
    width: calc(30% - 1.5rem); }
  .form-field + .form-field {
    margin-top: 4rem; }
  .form-field > label {
    display: block;
    margin-bottom: 2rem;
    font-weight: 600; }
  .form-field + .button__primary {
    margin-top: 5rem; }
  .form-field__checkbox label {
    font-weight: normal; }

.focus-tip {
  position: absolute;
  background-color: #00E5E6;
  padding: 1rem;
  margin-top: 0.2rem;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 600;
  opacity: 0;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  transform: translateY(0);
  transition: all 0.15s ease; }

input[type="text"],
input[type="number"],
select {
  height: 7.5rem;
  width: 100%;
  border: 0;
  border-radius: 0.3rem;
  font-size: 2.1rem;
  padding: 0 3rem;
  background-color: #ffffff;
  transition: box-shadow 0.15s ease; }
  input[type="text"]:focus,
  input[type="number"]:focus,
  select:focus {
    outline: none;
    box-shadow: 0 0 0 0.4rem #E6FAFA, 0 0 0 0.7rem #00E5E6; }
  input[type="text"]:focus + .focus-tip,
  input[type="number"]:focus + .focus-tip,
  select:focus + .focus-tip {
    transform: translateY(0.3rem);
    opacity: 1; }

input[type="checkbox"] {
  -webkit-appearance: none;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #ffffff;
  border-radius: 0.3rem;
  transition: box-shadow 0.15s ease;
  text-align: center;
  vertical-align: middle;
  margin-right: 1.5rem; }
  input[type="checkbox"]:checked {
    background-color: #0D00FF; }
    input[type="checkbox"]:checked:before {
      content: url("../assets/images/check.svg");
      line-height: 4rem;
      text-align: center;
      display: inline-block; }
  input[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 0 0.4rem #E6FAFA, 0 0 0 0.7rem #00E5E6; }

.select-container {
  position: relative; }
  .select-container::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    right: 3rem;
    top: 2.8rem;
    width: 1.3rem;
    height: 1.3rem;
    border-right: 0.2rem solid #7392B0;
    border-bottom: 0.2rem solid #7392B0;
    border-top-right-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    transform: rotate(45deg);
    pointer-events: none; }
  .select-container select {
    -webkit-appearance: none;
    appearance: none; }
    .select-container select:invalid {
      color: #7392B0; }
    .select-container select option:not(:first-of-type) {
      color: #0A1031; }

.address-fields-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .address-fields-container .form-field {
    margin-top: 0; }
  .address-fields-container .form-field:first-child {
    margin-bottom: 1.5rem; }

.date-field-wrapper {
  display: flex; }
  .date-field-wrapper .form-field {
    margin-top: 0; }
  .date-field-wrapper .form-field:nth-child(1),
  .date-field-wrapper .form-field:nth-child(2) {
    width: 50%; }
  .date-field-wrapper .form-field + .form-field {
    margin-left: 1.5rem; }

input[type="radio"] {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 3rem;
  width: 3rem;
  height: 3rem;
  -webkit-appearance: none;
  border-radius: 50%;
  border: 2px solid #E2EAF0;
  margin-top: -1.5rem;
  z-index: 99;
  opacity: 0;
  transition: box-shadow 0.15s ease; }
  input[type="radio"]:checked {
    border: 0.3rem solid #0D00FF;
    box-shadow: inset 0 0 0 0.3rem #E6FAFA, inset 0 0 0 1.3rem #0D00FF; }
    input[type="radio"]:checked + label {
      box-shadow: inset 0 0 0 0.3rem #0D00FF; }
    input[type="radio"]:checked:focus + label {
      box-shadow: inset 0 0 0 0.3rem #0D00FF, 0 0 0 0.4rem #E6FAFA, 0 0 0 0.7rem #00E5E6; }
  input[type="radio"]:focus {
    outline: none; }
    input[type="radio"]:focus + label {
      box-shadow: 0 0 0 0.4rem #E6FAFA, 0 0 0 0.7rem #00E5E6; }

.radio-group {
  font-size: 1.6rem; }
  .radio-group .radio-button {
    position: relative;
    display: flex; }
    .radio-group .radio-button + .radio-button {
      margin-top: 1.5rem; }
    .radio-group .radio-button label {
      height: 7.5rem;
      position: relative;
      display: inline-table;
      padding: 3rem 5rem;
      margin-bottom: 0;
      width: inherit;
      overflow: hidden;
      font-weight: normal;
      font-size: 2.1rem;
      border-radius: 0.3rem;
      background-color: #ffffff;
      transition: box-shadow 0.15s ease; }

.radio-group__split .radio-group {
  display: flex;
  align-items: top; }

.radio-group__split .radio-button + .radio-button {
  margin-left: 1.5rem;
  margin-top: 0; }

.button {
  display: inline-block;
  margin-right: auto;
  padding: 3rem 5rem;
  margin-top: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  border-radius: 0.3rem;
  cursor: pointer;
  text-decoration: none;
  transition: box-shadow 0.15s ease; }
  .button__confirm {
    background-color: #00E5E6;
    color: #ffffff; }
  .button__primary {
    background-color: #0D00FF;
    color: #ffffff; }
  .button__secondary {
    box-shadow: inset 0 0 0 0.3rem #00E5E6;
    background-color: transparent;
    color: #0A1031; }
  .button__secondary-alt {
    box-shadow: inset 0 0 0 0.3rem #0D00FF;
    background-color: transparent;
    color: #0D00FF; }
  .button__tertiary {
    background-color: transparent;
    color: #0D00FF;
    text-align: left;
    margin-top: 1.5rem;
    padding: 2rem 5rem;
    font-weight: 500; }
  .button__small {
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    margin-top: 3rem; }
  .button:focus {
    outline: none;
    box-shadow: 0 0 0 0.4rem #E6FAFA, 0 0 0 0.7rem #00E5E6; }

h1, h2, h3, h4, p {
  line-height: 1.5; }

h1 {
  display: inline-block;
  margin-top: 3rem;
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: inherit; }

h2 {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 3.6rem;
  font-weight: 700;
  color: #0A1031; }
  h2 a {
    color: inherit;
    text-decoration: none; }
  h2 a:hover {
    text-decoration: underline; }

h3 {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 2.1rem;
  font-weight: 700;
  color: inherit; }

h4 {
  margin-top: 1rem;
  font-size: 2rem; }

p.small-text {
  font-size: 1.6rem;
  color: #7392B0; }

strong {
  font-weight: 700; }

* {
  box-sizing: border-box; }

._hidden {
  display: none; }

body,
html {
  margin: 0;
  font-size: 10px; }
  @media (max-width: 768px) {
    body,
    html {
      font-size: 8px; } }
  @media (min-width: 1820px) {
    body,
    html {
      font-size: 12px; } }

body {
  height: 100%;
  font-family: "GT America", -apple-system, BlinkMacSystemFont, Helvetica, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 1.8rem;
  line-height: 140%;
  background-color: #E6FAFA;
  color: #0A1031;
  overflow-x: hidden; }

.wrapper.wrapper__last-step {
  height: 100%; }
  .wrapper.wrapper__last-step .sidebar {
    display: none; }
  .wrapper.wrapper__last-step .main-container {
    max-width: 102.4rem;
    margin: 0 auto; }
  .wrapper.wrapper__last-step .breadcrumb-container {
    display: none; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 27rem;
  padding: 3rem;
  height: 100%;
  background-color: #ffffff; }
  @media (max-width: 768px) {
    .sidebar {
      display: none; } }

.logo {
  width: 12rem;
  height: 2rem;
  background-color: #E6FAFA; }
  .logo:after {
    position: absolute;
    background-color: #0D00FF;
    content: "";
    height: 2rem;
    width: 2rem;
    box-shadow: 2rem 0 0 #ffffff; }

.unlink {
  position: absolute;
  bottom: 0rem;
  left: 0rem;
  padding: 3rem;
  font-size: 1.6rem;
  color: #7392B0; }

.breadcrumb,
.back-button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #ffffff;
  color: #0D00FF;
  font-weight: 600; }

.navigation {
  margin-top: 5rem; }

.nav-item {
  display: flex;
  line-height: 4rem;
  color: #7392B0;
  align-items: center; }
  .nav-item + .nav-item {
    margin-top: 2rem; }
  .nav-item__active {
    color: #0D00FF; }
    .nav-item__active .nav-circle {
      border: 0.3rem solid #0D00FF;
      background-color: #ffffff; }
    .nav-item__active svg {
      top: -0.3rem;
      left: -0.3rem; }
  .nav-item__complete .nav-circle {
    position: relative;
    background-color: #0D00FF;
    transition: background-color 0.3s ease, box-shadow 0.5s ease;
    box-shadow: 0 0 0 1.2rem #ffffff, 0 0 0 1.5rem transparent; }
    .nav-item__complete .nav-circle:before {
      content: url("../assets/images/check.svg");
      width: 2rem;
      text-align: center;
      width: 100%;
      display: inline-block; }
    .nav-item__complete .nav-circle svg {
      display: none; }

.nav-circle {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #E6FAFA;
  margin-right: 1.5rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 0 0 #ffffff, 0 0 0 0 #0D00FF; }
  .nav-circle svg {
    position: absolute;
    transform: rotateZ(-85deg); }
  .nav-circle circle {
    transition: all 0.15s ease;
    outline-offset: -0.3rem; }
  .nav-circle:after {
    transition: all 0.3s ease; }

.main-container {
  display: flex;
  margin-left: 27rem;
  padding: 5rem 7rem; }
  @media (max-width: 768px) {
    .main-container {
      margin-left: 0;
      width: 100%;
      flex-direction: column;
      padding: 3rem; } }
  .main-container.main-container__full-width {
    flex-direction: column; }
    .main-container.main-container__full-width .step-container {
      width: 100%; }
    .main-container.main-container__full-width .right-rail {
      max-width: none;
      padding-left: 0;
      margin-top: 5rem; }
    .main-container.main-container__full-width .help-card {
      display: flex;
      padding: 0;
      align-items: flex-start;
      justify-content: center; }
    .main-container.main-container__full-width .help-card img {
      margin-right: 3rem; }
    .main-container.main-container__full-width .help-card .button {
      margin-left: 5rem;
      margin-right: 0;
      margin-top: 0; }
  .main-container.main-container__complete {
    margin: 0 auto;
    max-width: 128rem; }
    .main-container.main-container__complete ~ .sidebar {
      opacity: 0; }
    .main-container.main-container__complete .breadcrumb-container {
      display: none; }

.step-container {
  width: 66rem; }
  @media (max-width: 768px) {
    .step-container {
      width: auto; } }

.question-heading {
  margin-top: 2rem; }

.explainer {
  position: relative;
  color: #7392B0;
  padding-left: 2.5rem; }
  .explainer:before {
    position: absolute;
    left: 0;
    top: 0.7rem;
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    border-top: 0.75rem solid transparent;
    border-left: 1rem solid #0D00FF;
    border-bottom: 0.75rem solid transparent; }

.form-container {
  margin-top: 5rem; }

.right-rail {
  position: relative;
  width: 100%;
  max-width: 40rem;
  padding-left: 5rem; }
  @media (max-width: 768px) {
    .right-rail {
      max-width: none;
      padding: 0;
      margin-top: 5rem; }
      .right-rail .help-card {
        padding: 0; } }
  .right-rail code {
    display: block;
    font-family: 'Menlo';
    white-space: pre;
    font-size: 1.2rem;
    margin-left: 3rem;
    color: #7392B0; }

.load-in {
  transform: translate3d(0, 1em, 0);
  opacity: 0;
  animation: loadin 0.25s cubic-bezier(0.74, 0.24, 0.21, 0.77);
  animation-fill-mode: forwards; }

@keyframes loadin {
  0% {
    transform: translate3d(0, 1em, 0);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translate3d(0, 0rem, 0); } }

.load-up {
  transform: translate3d(0, -1em, 0);
  opacity: 0;
  animation: loadup 0.25s cubic-bezier(0.74, 0.24, 0.21, 0.77);
  animation-fill-mode: forwards;
  margin-top: -3rem; }

@keyframes loadup {
  0% {
    margin-top: -3rem;
    transform: translate3d(0, -1em, 0);
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    margin-top: 4rem;
    opacity: 1;
    transform: translate3d(0, 0rem, 0); } }

.help-card {
  padding: 0 0 3rem 3rem;
  width: 100%;
  border-radius: 0.3rem; }
  .help-card img {
    display: block;
    margin-bottom: 3rem; }

.coverage-container {
  display: flex;
  margin-top: 7rem;
  justify-content: space-between; }
  @media (max-width: 768px) {
    .coverage-container {
      flex-direction: column; } }

.coverage-option {
  position: relative;
  width: calc(33.3% - 2rem);
  background-color: #ffffff;
  padding: 5rem 3rem;
  border-radius: 0.5rem;
  text-align: center; }
  .coverage-option .button__tertiary {
    text-align: center; }
  @media (max-width: 768px) {
    .coverage-option {
      width: 100%; } }

.coverage-flag {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  display: inline-table;
  background-color: #ffffff;
  color: #00E5E6;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  transform: translateX(-50%); }

.coverage-name {
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #0D00FF; }

.coverage-price {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  justify-content: center;
  align-items: flex-end; }

.price-annual {
  font-size: 1.6rem; }

.coverage-dollars {
  font-size: 4.4rem;
  font-weight: bold; }
  .coverage-dollars:before {
    content: "$";
    font-size: 2.4rem; }

.coverage-limits {
  margin-top: 5rem; }

.coverage + .coverage {
  margin-top: 3rem; }

.coverage-label {
  font-size: 1.6rem;
  color: #7392B0;
  margin-bottom: 1rem; }

.full-screen-loader {
  transform: translate3d(0, 1em, 0);
  opacity: 0;
  animation: loadin 0.25s cubic-bezier(0.74, 0.24, 0.21, 0.77);
  animation-fill-mode: forwards;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E6FAFA;
  text-align: center;
  line-height: 100vh;
  font-size: 2.6rem; }

@keyframes loadin {
  0% {
    transform: translate3d(0, 1em, 0);
    opacity: 0; }
  100% {
    opacity: 1;
    transform: translate3d(0, 0rem, 0); } }
  .full-screen-loader:not(._hidden) + canvas {
    z-index: 2; }

canvas {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -2;
  animation-delay: 1s;
  transform: translateY(-50%);
  overflow: hidden; }
