/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tfoot, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'GT America';
  src: url("../assets/fonts/GT-America-Standard-Light.eot");
  src: url("../assets/fonts/GT-America-Standard-Light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/GT-America-Standard-Light.woff2") format("woff2"), url("../assets/fonts/GT-America-Standard-Light.woff") format("woff"), url("../assets/fonts/GT-America-Standard-Light.ttf") format("truetype");
  font-weight: light;
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'GT America';
  src: url("../assets/fonts/GT-America-Standard-Regular.eot");
  src: url("../assets/fonts/GT-America-Standard-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/GT-America-Standard-Regular.woff2") format("woff2"), url("../assets/fonts/GT-America-Standard-Regular.woff") format("woff"), url("../assets/fonts/GT-America-Standard-Regular.ttf") format("truetype");
  font-weight: normal;
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'GT America';
  src: url("../assets/fonts/GT-America-Standard-Medium.eot");
  src: url("../assets/fonts/GT-America-Standard-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/GT-America-Standard-Medium.woff2") format("woff2"), url("../assets/fonts/GT-America-Standard-Medium.woff") format("woff"), url("../assets/fonts/GT-America-Standard-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'GT America';
  src: url("../assets/fonts/GT-America-Standard-Bold.eot");
  src: url("../assets/fonts/GT-America-Standard-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/GT-America-Standard-Bold.woff2") format("woff2"), url("../assets/fonts/GT-America-Standard-Bold.woff") format("woff"), url("../assets/fonts/GT-America-Standard-Bold.ttf") format("truetype");
  font-weight: bold;
  font-weight: 700;
  font-style: normal; }

.button {
  display: inline-block;
  margin-right: auto;
  padding: 1.5rem 3rem;
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  border-radius: 0.3rem;
  cursor: pointer;
  text-decoration: none;
  transition: box-shadow 0.15s ease; }
  .button__confirm {
    background-color: #00E5E6;
    color: #ffffff; }
  .button__primary {
    background-color: #0D00FF;
    color: #ffffff; }
  .button__secondary {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff; }
  .button__secondary-alt {
    box-shadow: inset 0 0 0 0.3rem #0D00FF;
    background-color: transparent;
    color: #0D00FF; }
  .button__tertiary {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid rgba(255, 255, 255, 0.25);
    font-weight: 500; }
  .button__small {
    padding: 0.5rem 1.5rem;
    font-size: 1.6rem;
    margin-top: 3rem; }
  .button:focus {
    outline: none;
    box-shadow: 0 0 0 0.4rem #E6FAFA, 0 0 0 0.7rem #00E5E6; }
  .button a {
    display: block; }

a {
  color: inherit;
  text-decoration: none;
  transition: box-shadow 0.25s ease; }
  a:hover {
    box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.5); }

h1, h2, h3, h4, p {
  line-height: 1.5; }

h1 {
  display: inline-block;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.4;
  color: inherit; }

h2 {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 3.6rem;
  font-weight: 700;
  color: #0A1031; }
  h2 a {
    color: inherit;
    text-decoration: none; }
  h2 a:hover {
    text-decoration: underline; }

h3 {
  display: inline-block;
  font-size: 2.1rem;
  font-weight: 500;
  color: inherit; }

h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-weight: 100; }

h5 {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 600; }

p.small-text {
  font-size: 1.6rem;
  color: #6980A5; }

p.big-text {
  margin-top: 1rem;
  font-size: 2.4rem;
  font-weight: 300; }

p.huge-text {
  font-size: 3.6rem;
  font-weight: 300; }

p.tiny-text {
  display: block;
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #6980A5; }

.gray-text {
  color: #6980A5; }

strong {
  font-weight: 700; }

* {
  box-sizing: border-box; }

._hidden {
  display: none; }

body,
html {
  margin: 0;
  font-size: 10px; }
  @media (max-width: 768px) {
    body,
    html {
      font-size: 8px; } }
  @media (min-width: 1820px) {
    body,
    html {
      font-size: 12px; } }

body {
  height: 100%;
  font-family: "GT America", -apple-system, BlinkMacSystemFont, Helvetica, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 1.8rem;
  line-height: 140%;
  color: #0A1031;
  background-color: #0A1031;
  overflow-x: hidden; }

section {
  padding: 0 calc((100% - 128rem)/2);
  margin: 0 auto; }

.intro {
  position: relative;
  width: 100%;
  background-image: url("../assets/images/salon_bg.jpg");
  background-size: cover;
  background-position: top center; }
  .intro:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(10, 16, 49, 0.7); }
  .intro > * {
    position: relative;
    z-index: 1; }

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 3rem 0;
  color: #ffffff;
  font-size: 1.6rem; }
  .header > * {
    display: flex;
    align-items: center; }
  .header .button {
    margin-top: 0;
    margin-left: 3rem; }

.site-name {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 0.1rem; }

.agency-name {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  letter-spacing: 0.1rem;
  margin-left: 3rem;
  padding-left: 3rem;
  border-left: 1px solid rgba(255, 255, 255, 0.2); }

.usp-copy {
  padding: 7rem 0 7rem 0;
  text-align: center;
  max-width: 105rem;
  margin: 0 auto; }
  .usp-copy h5 {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 2rem; }
  .usp-copy h3 {
    color: rgba(255, 255, 255, 0.9);
    padding: 0 3rem; }
  .usp-copy h1 {
    color: #ffffff;
    margin-bottom: 3rem; }

.usp-actions {
  width: 100%;
  text-align: center;
  padding-bottom: 14rem; }
  .usp-actions .button {
    margin-top: 0; }
  .usp-actions .button + .button {
    margin-left: 1rem; }

.promo-bar {
  width: 100%;
  height: 8rem;
  background-color: #0A1031;
  text-align: center; }

.promo {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #E2EAF0; }
  .promo span {
    margin-left: 2rem;
    font-size: 1.6rem; }

.tag {
  display: inline-block;
  border: 2px solid #00E5E6;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-align: center;
  border-radius: 0.3rem;
  color: #00E5E6; }

.class-info {
  display: flex;
  padding: 14rem calc((100% - 128rem)/2) 7rem;
  background-color: #ffffff;
  justify-content: space-between; }
  .class-info > div {
    width: calc(50% - 5rem); }

.class-image img {
  width: 100%; }

.selling-points {
  margin-top: 5rem; }
  .selling-points h5 {
    color: #7392B0; }

.check-list {
  margin-top: 3rem; }
  .check-list > div {
    display: flex;
    flex-wrap: wrap; }
  .check-list .check-point {
    width: 50%;
    margin-bottom: 2rem; }
    .check-list .check-point:before {
      content: url("../assets/images/check.svg");
      margin-right: 1rem; }

.partners {
  padding: 7rem calc((100% - 128rem)/2);
  text-align: center;
  background-color: #ffffff; }
  .partners h5 {
    color: #7392B0; }

.logo-stack {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .logo-stack img {
    transform: scale(0.5); }

.social-proof {
  padding: 7rem calc((100% - 128rem)/2);
  text-align: center;
  background-color: #ffffff; }

.review-card {
  width: 100%;
  padding: 7rem;
  background-color: #E6FAFA; }

.stars {
  margin-bottom: 3rem; }
  .stars img + img {
    margin-left: 0.5rem; }

.reviewer {
  margin-top: 5rem; }

.reviewer-name {
  font-size: 2.4rem;
  font-weight: 600; }

.role-name {
  color: #7392B0;
  margin-top: 1.5rem; }

.footer {
  background-color: #0A1031;
  color: #7392B0;
  font-size: 1.6rem;
  padding: 7rem calc((100% - 128rem)/2) 0; }

.footer-rich-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7rem; }

.about {
  max-width: 60rem; }
  .about h4 {
    color: #E6FAFA; }

.phone-number {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 3.6rem;
  color: #E6FAFA; }

.footer-info {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1); }

.chat-widget {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background-color: #0D00FF;
  line-height: 6.5rem;
  text-align: center; }
