$white: #ffffff;
$white50a: rgba($white, 0.5);
$black: #0A1031;
$gray: #7392B0;
$gray10: #E2EAF0;
  $gray50: #6980A5;

$transparent: transparent;

$blue: #0D00FF;
$teal: #00E5E6;
$teal15: #D5E9E9;
$teal10: #E6FAFA;
$pink: #FD337D;

$background-color: $teal10;
$text-color: $black;

$mobile: 580px;
$small: 768px;
$full: 1500px;
$big: 1600px;
$huge: 1820px;

@font-face {
  font-family: 'GT America';
  src: url('../assets/fonts/GT-America-Standard-Regular.eot');
  src: url('../assets/fonts/GT-America-Standard-Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/GT-America-Standard-Regular.woff2') format('woff2'),
  url('../assets/fonts/GT-America-Standard-Regular.woff') format('woff'),
  url('../assets/fonts/GT-America-Standard-Regular.ttf') format('truetype');
  font-weight: normal;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GT America';
  src: url('../assets/fonts/GT-America-Standard-Medium.eot');
  src: url('../assets/fonts/GT-America-Standard-Medium.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/GT-America-Standard-Medium.woff2') format('woff2'),
  url('../assets/fonts/GT-America-Standard-Medium.woff') format('woff'),
  url('../assets/fonts/GT-America-Standard-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GT America';
  src: url('../assets/fonts/GT-America-Standard-Bold.eot');
  src: url('../assets/fonts/GT-America-Standard-Bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/GT-America-Standard-Bold.woff2') format('woff2'),
  url('../assets/fonts/GT-America-Standard-Bold.woff') format('woff'),
  url('../assets/fonts/GT-America-Standard-Bold.ttf') format('truetype');
  font-weight: bold;
  font-weight: 700;
  font-style: normal;
}

$grotesk: 'GT America', -apple-system, BlinkMacSystemFont, Helvetica, 'Helvetica Neue', Arial, sans-serif;

@mixin section-padding {
	padding: 6rem 8rem;

	@media (max-width: $small) {
		padding: 3rem 4rem;
	}
}

@mixin load-in {
	transform: translate3d(0, 1em, 0);
	opacity: 0;
	animation: loadin 0.25s cubic-bezier(.74,.24,.21,.77);
	animation-fill-mode: forwards;

	@keyframes loadin {
		0% {
			transform: translate3d(0, 1em, 0);
			opacity: 0;
		}
		100% {
			opacity: 1;
			transform: translate3d(0, 0rem, 0);
		}
	}
}

@mixin load-up {
	transform: translate3d(0, -1em, 0);
	opacity: 0;
	animation: loadup 0.25s cubic-bezier(.74,.24,.21,.77);
	animation-fill-mode: forwards;
  margin-top: -3rem;

	@keyframes loadup {
		0% {
      margin-top: -3rem;
			transform: translate3d(0, -1em, 0);
			opacity: 0;
		}
    50% {
      opacity: 0;
    }
		100% {
      margin-top: 4rem;
			opacity: 1;
			transform: translate3d(0, 0rem, 0);
		}
	}
}
