$white: #ffffff;
$black: #0A1031;
$gray: #7392B0;
$gray10: #E2EAF0;

$blue: #0D00FF;
$teal: #00E5E6;
$teal10: #E6FAFA;
$pink: #FD337D;

$background-color: $teal10;
$text-color: $black;

$mobile: 580px;
$small: 768px;
$full: 1440px;
$big: 1600px;
$huge: 1820px;
